@import "tailwindcss";

:root {
  font-family: Inter, sans-serif;

  color: white;
  background: #020817;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  background: #020817;
  color: white;

  overflow-x: hidden;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #020817;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

/* Selection */

::selection {
  background: #10b981;
  color: #020817;
}

/* Better focus */

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

/* Smooth transitions */

button,
input,
select,
textarea {
  transition: all 0.2s ease;
}